@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Sora", sans-serif;
  background-color: rgb(46, 47, 51);
  color: white;
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  gap: 50px;
  background-color: rgb(36, 36, 39);
  padding: 10px;
  justify-content: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  background-color: rgb(69, 69, 77);
  padding: 5px;
  border-radius: 10px;
  transition: 0.5s;
  text-align: center;
}

.navbar a:hover {
  cursor: pointer;
  background-color: rgb(50, 50, 56);
  transition: 0.5s;
  color: rgb(194, 189, 189);
}

p a,
li a,
figcaption a {
  color: white;
  transition: 0.5s;
}

p a:hover,
li a:hover,
figcaption a:hover {
  color: rgb(131, 131, 131);
  transition: 0.5s;
}

#title {
  text-align: center;
  font-size: 4vh;
}

.main,
.overview {
  padding: 1%;
  text-align: left;
  margin-left: 20px;
  font-size: 95%;
}

.overview h1,
.main h1 {
  margin-bottom: 0;
}

.overview h1 + h3,
.main h1 + p {
  margin-top: 0;
}

.solsys-container {
  display: flex;
  justify-content: left;
}

.solsys {
  width: 100vw;
  height: 71vh;
}

#sol-sys {
  text-align: center;
}

#sol-sys img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 95%;
  border-radius: 20px;
}

#planet-photo {
  float: right;
  font-size: 75%;
  text-align: center;
}

#planet-photo img {
  width: 45vh;
  padding: 10px;
  border-radius: 20px;
}
