@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");

body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: "Lexend Deca", sans-serif;
}

.bg-image {
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(4px);
  height: 100vh;
  width: 100%;
  transform: scale(1.1);
}

.bg-text {
  position: absolute;
  text-align: left;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.404);
  color: white;
  border-radius: 10px;
  padding: 10px;
  width: 80vw;
  height: 80vh;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 12px;
}

.boxes section {
  background-color: rgba(0, 0, 0, 0.404);
  padding: 3px;
  border-radius: 10px;
  width: 40vw;
  flex: 0 0 48%;
}

.boxes h1 {
  margin-bottom: 0;
  margin-top: 0;
}

.boxes ul {
  margin-top: 0;
}

li a {
  color: white;
  transition: 0.3s;
}

li a:hover {
  color: rgb(189, 189, 189);
  transition: 0.3s;
}
